@import "tailwindcss";



:root {
  --primary: #0f172a;
  --accent: #f97316;
  --dark: #020617;
  --light: #f8fafc;
  --muted: #475569;
}

body {
  background-color: white;
  color: var(--primary);
}

.bg-accent {
  background-color: var(--accent);
}
.bg-light {
  background-color: var(--light);
}
.text-accent {
  color: var(--accent);
}

.bg-dark {
  background-color: var(--dark);
}

.text-muted {
  color: var(--muted);
}

.from-light {
  --tw-gradient-from: var(--light);
}

.folded-rectangle {
  --r: 40px; /* radius */

  border-radius: var(--r) var(--r) 0 0;
  --_m:100%,#0000 100%,#000 calc(100% + 1px);
  mask:
    radial-gradient(var(--r) at 100% var(--_m)) 0    100% no-repeat,
    radial-gradient(var(--r) at 0    var(--_m)) 100% 100% no-repeat,
    linear-gradient(0,#0000 var(--r),#000 0);
  mask-size: var(--r);
}

