@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0f172a;
  --accent: #f97316;
  --dark: #020617;
  --light: #f8fafc;
  --muted: #475569;
}

body {
  background-color: white;
  color: var(--primary);
}

.bg-accent {
  background-color: var(--accent);
}

.text-accent {
  color: var(--accent);
}

.bg-dark {
  background-color: var(--dark);
}

.text-muted {
  color: var(--muted);
}

.from-light {
  --tw-gradient-from: var(--light);
}
